[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w.git
